@import url(common.css);
h1{
    text-align: center;
}
ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
li{
    width: 100px;
    text-align: center;
}