@import url(common.css);
h1{
    text-align: center;
}
ul{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
}
li{
    width: 100px;
    text-align: center;
}