@font-face{
    font-family: 'Work Sans';
    src: url(assets/fonts/static/WorkSans-Regular.ttf);
    font-weight:400;
}
@font-face{
    font-family: 'Work Sans';
    src: url(assets/fonts/static/WorkSans-SemiBold.ttf);
    font-weight:600;
}
@font-face {
    font-family: 'Work Sans';
    src: url(assets/fonts/static/WorkSans-Bold.ttf);
    font-weight:bold;
}
*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0; padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: hsl(275, 100%, 97%) url(assets/images/background-pattern-desktop.svg) no-repeat;
    background-size: contain;
    font-weight: 400;
}
main{
    width: 40%;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: hsla(292, 16%, 49%, 0.2) 0px 15px 25px;
}
h1{
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}
h3{
    font-weight: 600;
}
ul{
    padding: 0;
}
li{
    list-style-type: none;
    border-bottom: 1px solid hsl(275, 100%, 97%);
}
li:last-of-type{
    border: none;
}
hgroup{
    display: flex;
    align-items: center;
    gap: 10px;
}
li hgroup{
    justify-content: space-between;
}
li h3{
    font-size: 16px;
    width: 85%;
    overflow-wrap: normal;
}
li h3:hover, li h3.active{
    color: #A332D5;
    cursor: pointer;
}
li p{
    display: none;
}
li p.active{
    display: block;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.listBtn{
    all:unset;
    width: 30px;
    height: 30px;
    background-image: url(assets/images/icon-plus.svg);
}
.listBtn.active{
    background-image: url(assets/images/icon-minus.svg);
}
.listBtn:hover, .listBtn:focus{
    cursor: pointer;
}
@media(max-width: 1024px){
    main{
        width: 90%;
    }
}