@import url(../../css/common.css);
main{
    position: relative;
}
#clock{
    font-size: 60px;
    font-weight: bold;
}
#greetings{
    font-size: 48px;
    font-weight: bold;
}
#todo-list{
    width: 30%;
    margin: 20px auto;
    text-align: left;
    background-color: rgba(10, 10, 10, 0.6);
}
#todo-list li{
    margin: 0 10px;
}
#todo-list li:first-child{
    padding-top: 20px;
}
#todo-list li:last-child{
    padding-bottom: 20px;
}
#todo-list button{
    font-size: 36px;
    font-weight: bold;
}
#quote{
    width: 100%;
    position:absolute;
    text-align: center;
    padding: 0 30vw;
    bottom: 40px;
    text-align: center;
}
#weather{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 20px;
    right: 0;
    color: black;
    border-radius: 20px;
    padding: 10px;
}